<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">NodeJsLeagueBot es gratuïto</h5>
          <p class="grey-text text-lighten-4">Pero cualquier donación por paypal es agradecida ❤️ @mvrec</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Github</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://github.com/zorbuk/NodeJsLeagueBot">Repositorio</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/zorbuk/NodeJsLeagueBot/issues">Problemas</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/zorbuk/NodeJsLeagueBot/wiki">Wiki</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        NodeJsLeagueBot © Copyright 2021
      </div>
    </div>
  </footer>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {});
    });
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, {});
    });
  </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
