<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">🔰 NodeJsLeagueBot</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Bot</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/config">Configuración</a>
      </li>
    </ul>
  </nav>