<meta charset="UTF-8">
<title>NodeJsLeagueBot</title>

<!-- CSS (load bootstrap from a CDN) -->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
-->
 <!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style>
    body { padding-top:40px;background-color: #181818; }
    nav { padding-left:20px;padding-right: 20px; }
    .card-title { background-color:rgba(18, 18, 18, 65%) !important;width: 100% !important }
    .card-action {background-color: rgba(18, 18, 18, 65%) !important;}
    label{color: black !important;}
    .pane{padding-top:20px !important;}
</style>